*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
	color: #080808;
    background-color: mintcream;
    
    
    
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: lightgoldenrodyellow;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 2px 2px 5px 3px;
    font-size: 40px;

}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 18px;
    
}

.btn {
    background-color: mintcream;
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 30px;

}

button.btn:hover {
    color: olive;
    cursor: pointer;
}

.start {
    background-color: mintcream;
    border-radius: 10px;
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    
    

}

button.start:hover {
    color: olive;
    cursor: pointer;
}

.timer {
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container .hide  {
    display: none;
  }

  #start-btn {
    display: block;
  }

  #score-form {
    display: none;
  }
  