*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.timer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 23px;
    padding-top: 10px;
    padding-left: 10px;
}

.hide {
    position:absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
}

.container {
    width: 1000px;
    height: 500px;
    max-width: 80%;
    background-color: darkgray;
    border-radius: 5px;
}

.btn-grid {
    display: grid;
    height: 450px;
    width: 950px;
    padding: 8px;
    margin: 8px;
    
}